<div class="title">Create account</div>
<form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
  <mat-form-field appearance="outline" class="username-field" style="width: 100%">
    <mat-label>Username</mat-label>
    <mat-error *ngIf="registerForm.controls.username.hasError('pattern')">
      Must be alphanumeric only
    </mat-error>
    <mat-error *ngIf="registerForm.controls.username.hasError('minlength')
    || registerForm.controls.username.hasError('maxlength')">
      Must be between 5 and 30 characters
    </mat-error>
    <input formControlName="username" matInput placeholder="Username" required>
  </mat-form-field>
  <div class="password">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Password</mat-label>
      <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
      <input #password [type]="toggle.type"
             autocomplete="new-password"
             formControlName="password" matInput
             placeholder="Password" required>
    </mat-form-field>
    <mat-password-strength #passwordComponent [enableSpecialCharRule]="false"
                           [password]="password.value">
    </mat-password-strength>
    <!--Password's strength info-->
    <mat-password-strength-info
      [passwordComponent]="passwordComponent">
    </mat-password-strength-info>
  </div>
  <button [disabled]="registerForm.invalid || passwordComponent.strength<100" class="action-button" color="primary"
          mat-raised-button
          type="submit">Register
  </button>
</form>
